<div class="hero">
    <div class="top-xs" fxHide="true" fxShow.xs></div>
    <div class="top-sm" fxHide="true" fxShow.sm></div>
    <div class="hero-image"></div>
    <div class="hero-text">
        <img src="assets/travis-kosarek-hero.png" />
        <p fxHide="true" fxShow.xs class="LuckyFellasSerif subtitle-mobile">Software Developer and Technology Enthusiast</p>
        <p fxHide="true" fxShow.gt-xs class="LuckyFellasSerif">Software Developer and Technology Enthusiast</p>
        <button mat-raised-button color="primary">GET TO KNOW ME</button>
    </div>
</div>