<portfolio-navigation fxHide="true" fxShow.xs fxShow.sm></portfolio-navigation>
<portfolio-hero id="hero"></portfolio-hero>
<portfolio-navigation fxHide="true" fxShow.gt-sm></portfolio-navigation>
<a class="anchor-xs" fxHide="true" fxShow.xs id="whoiam-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="whoiam"></a>
<portfolio-biography></portfolio-biography>
<a class="anchor-xs" fxHide="true" fxShow.xs id="concepts-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="concepts"></a>
<portfolio-concepts></portfolio-concepts>
<a class="anchor-xs" fxHide="true" fxShow.xs id="experience-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="experience"></a>
<portfolio-experience></portfolio-experience>
<a class="anchor-xs" fxHide="true" fxShow.xs id="skills-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="skills"></a>
<portfolio-skills></portfolio-skills>
<a class="anchor-xs" fxHide="true" fxShow.xs id="projects-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="projects"></a>
<portfolio-projects></portfolio-projects>
<a class="anchor-xs" fxHide="true" fxShow.xs id="contact-mobile"></a>
<a class="anchor" fxHide="true" fxShow.sm fxShow.gt-sm id="contact"></a>
<portfolio-contact></portfolio-contact>