#navbar {
    overflow: hidden;
    background-color: #333;
}

.content {
    padding: 16px;
}

p {
    bottom: 60px;
    left: 60px;
    padding: 20px;
    position: fixed;
    background-color: #FFFFFF;
    color: #000000;
}

a.anchor-xs {
    display: block;
    position: relative;
    top: -56px;
    visibility: hidden;
}

a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}