<portfolio-navigation fxHide="true" fxShow.xs fxShow.sm></portfolio-navigation>
<portfolio-hero id="hero"></portfolio-hero>
<portfolio-navigation fxHide="true" fxShow.gt-sm></portfolio-navigation>
<portfolio-biography id="whoiam"></portfolio-biography>
<portfolio-concepts id="concepts"></portfolio-concepts>
<portfolio-experience id="experience"></portfolio-experience>
<portfolio-skills id="skills"></portfolio-skills>
<portfolio-projects id="projects"></portfolio-projects>
<portfolio-contact id="contact"></portfolio-contact>