/* Style the navbar */

#navbar {
    overflow: hidden;
    background-color: #333;
}


/* Page content */

.content {
    padding: 16px;
}

p {
    bottom: 60px;
    left: 60px;
    padding: 20px;
    position: fixed;
    background-color: #FFFFFF;
    color: #000000;
}