nav {
    position: relative;
    min-width: 360px;
    z-index: 1000;
    .spacer {
        justify-content: space-between;
        flex: auto;
    }
    .toolbar-shadow {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.23);
    }
    img {
        height: 75%;
    }
    mat-toolbar {
        a {
            font-size: 15px;
        }
    }
}