<nav>
    <mat-toolbar color="primary" class="mat-typography toolbar-shadow">
        <img fxHide="true" fxShow.xs fxShow.sm src="assets/travis-kosarek-header.png" />
        <span class="spacer"></span>
        <a fxHide="true" fxShow.gt-sm href="#whoiam" mat-menu-item>WHO I AM</a>
        <a fxHide="true" fxShow.gt-sm href="#concepts" mat-menu-item>CONCEPTS I BELIEVE IN</a>
        <a fxHide="true" fxShow.gt-sm href="#experience" mat-menu-item>PROFESSIONAL EXPERIENCE</a>
        <a fxHide="true" fxShow.gt-sm href="#skills" mat-menu-item>SKILLS</a>
        <a fxHide="true" fxShow.gt-sm href="#projects" mat-menu-item>CURRENT PROJECTS</a>
        <a fxHide="true" fxShow.gt-sm href="#contact" mat-menu-item>CONTACT</a>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="menu button" fxHide="true" fxShow.xs fxShow.sm [mat-menu-trigger-for]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a href="#whoiam" mat-menu-item>WHO I AM</a>
            <a href="#concepts" mat-menu-item>CONCEPTS I BELIEVE IN</a>
            <a href="#experience" mat-menu-item>PROFESSIONAL EXPERIENCE</a>
            <a href="#skills" mat-menu-item>SKILLS</a>
            <a href="#projects" mat-menu-item>CURRENT PROJECTS</a>
            <a href="#contact" mat-menu-item>CONTACT</a>
        </mat-menu>
    </mat-toolbar>
</nav>